appdirs==1.4.3
asgiref==3.3.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
distlib==0.3.0
Django==3.1.6
django-bootstrap-form==3.4
django-cart==1.0.4
django-countries==6.1.2
django-crispy-forms==1.9.0
django-filter==2.4.0
djangorestframework==3.12.1
ez-setup==0.9
filelock==3.0.12
gunicorn==20.0.4
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pipenv==2020.11.15
psycopg2-binary==2.8.6
Python-dev==2.0.0.dev0
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
stripe==2.45.0
urllib3==1.25.8
virtualenv==20.0.15
virtualenv-clone==0.5.4
Werkzeug==1.0.1
whitenoise==5.2.0
