{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
#loginBox{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    border-radius: 2%;

}

</style>
<div class="container">
    <div class="mt-5 pt-4">
        {% if 'next' in request.GET %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
             Hi! {{ request.user }} you need to login first
                <hr>
            </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="mt-5 pt-4">
        {% if request.user.is_authenticated %}

            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              Hi! {{ request.user }} you have already logged in
                <hr>
              <a class="btn btn-primary" role="button" aria-pressed="true" href="{% url 'product_urls:logout-page' %}">Log Out</a>
            </div>
        {% else %}
    </div>
</div>
<div class="bg-light col-md-4 "  id="loginBox" >
    <div class="pt-3">
        <center><img src="{% static 'WebLogo.svg' %}" ></center>
    </div>
<div class="p-4">
<form class="form-signin subscribe-form" method="post"><!--action="{% url 'product_urls:home-page' %}"-->
    {% csrf_token %}

    <div class="form-group" >
        <!--<label for="username">Username</label>-->
        <input type="text" class="form-control p-4" name="username" id="username" placeholder="Username">
    </div>
    <div class="form-group">
        <!--<label for="password">Password</label>-->
        <input type="password" class="form-control p-4" name="password" id="password" placeholder="Password" >
    </div>

    <button type="submit" class="btn btn-outline-primary btn-block">Sign In</button>
       <p class="pt-5"><center>looking to <a href="{% url 'product_urls:register-page' %}">create an account ?</a></center></p>

    {% for message in messages %}
    <center><p id="message" style="color:red">{{message}}</p></center>
    {% endfor %}
</form>
</div>
</div>

{% endif %}
{% endblock %}