{% extends 'base.html' %}

{% block content %}

<div class="card" style="margin-top:5%;">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img style="max-height:360px; object-fit: cover" src="{{ object.image_url }}" class="card-img" alt="Image Not Found">
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description }}</p>
                <h5 class="card-title">LKR {{ object.price }}</h5>
                <p class="card-text"><small class="text-muted">Grab yours today only {{ object.stock }}
                    available!</small></p>
                <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary">Add to Cart</a>
                <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger ml-4">Remove from Cart</a>

            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="mt-5 pt-4">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}